:root {
    /* === Primarios === */
    --primario-50: #edb3b3;
    --primario-100: #e2a5a0;
    --primario-200: #d2696f;
    --primario-300: #d62727;
    --primario-400: #a3170d;
    --primario-500: #821717;
    --primario-600: #621111;
    --primario-700: #410c0c;
  
    /* === Secundarios === */
    --secundario-50: #f7e7d1;
    --secundario-100: #f3d9ae;
    --secundario-200: #f2dab6;
    --secundario-300: #edccb1;
    --secundario-400: #e5d0ad;
    --secundario-500: #d4b894;
    --secundario-600: #cfae85;
  
    /* === Secundarios 2 === */
    --secundario2-50: #db8080;
    --secundario2-100: #c66969;
    --secundario2-200: #a45353;
    --secundario2-300: #861f1f;
    --secundario2-400: #571c1c;
    --secundario2-500: #411515;
    --secundario2-600: #2c0b0b;
  
    /* === Secundarios 3 === */
    --secundario3-50: #fef6cb;
    --secundario3-100: #fffbd0;
    --secundario3-200: #fff5cd;
    --secundario3-300: #fff1c4;
    --secundario3-400: #f0dc84;
    --secundario3-500: #f4b243;
    --secundario3-600: #b7960c;
  
    /* === Negros === */
    --negro-50: #303030;
    --negro-100: #4c4c4c;
    --negro-200: #737373;
    --negro-300: #787878;
    --negro-400: #565656;
    --negro-500: #3c3c3c;
    --negro-600: #2c2c2c;
    --negro-700: #1f1f1f;
    --negro-800: #151515;
    --negro-900: #0c0c0c;
  
    /* === Blancos === */
    --blanco-50: #ffffff;
    --blanco-100: #f4f4f4;
    --blanco-200: #e0e0e0;
    --blanco-300: #dbdbdb;
    --blanco-400: #d3d3d3;
    --blanco-500: #c8c8c8;
    --blanco-600: #a1a1a1;
    --blanco-700: #969696;
    --blanco-800: #7d7d7d;
    --blanco-900: #646464;
  
    /* === Éxito === */
    --exito-50: #e6f8d3;
    --exito-100: #c0f2a0;
    --exito-200: #a4eb70;
    --exito-300: #84e55b;
    --exito-400: #62f024;
    --exito-500: #60d818;
    --exito-600: #497f17;
    --exito-700: #4b7912;
    --exito-800: #345d00;
    --exito-900: #233c00;
  
    /* === Advertencia === */
    --advertencia-50: #fefac4;
    --advertencia-100: #fef4b0;
    --advertencia-200: #ffe47d;
    --advertencia-300: #ffd94c;
    --advertencia-400: #fdd245;
    --advertencia-500: #fbc83a;
    --advertencia-600: #f4d206;
    --advertencia-700: #c4ab34;
    --advertencia-800: #987d30;
    --advertencia-900: #544502;
  
    /* === Error === */
    --error-50: #f8c8c8;
    --error-100: #f4b7b7;
    --error-200: #ef9393;
    --error-300: #e8646f;
    --error-400: #e14b4b;
    --error-500: #cc2727;
    --error-600: #8e1d1d;
    --error-700: #701818;
    --error-800: #701212;
    --error-900: #4b0c0c;
  }
  