* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Nunito;
  color: var(--negros-700, #1F1F1F);
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  height: auto;
  background-color: var(--secundario-50);
  margin-left: 16rem;
  padding-right: 1rem;
}