/* TITULO PRINCIPAL */
@font-face { 
  font-family: 'Tan-Nimbus';
  src: url('./tipografias/TAN_Nimbus/TAN-NIMBUS.otf') format('truetype');
}

/* SUBTITULOS */
@font-face {
  font-family: 'Quicksand';
  src: url('./tipografias/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
}

/* CUERPO */
@font-face {
  font-family: 'Montserrat';
  src: url('./tipografias/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}