.contenedor-global{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    /* Para bordes 
    outline-style: solid;
    outline-color: red;
    border: 2px solid black;
    */
}

.contenedor-datos{
    display: flex;
    align-items: center;
    margin-left: 2%;
} 

.contenedor-datos .input_email{
    width: 100%; 
}

.lbl-datos{
    padding-bottom: 5%;
}

.txt-datos{
    margin-bottom: 5%;
    margin-right: 5%;
}

.boton-enviar{
    padding-top: 2%;
}